$color_1: #999;
$color_2: #434651;
$color_3: #444;
$color_4: #86c541;
$color_5: #e47297;
$color_6: #1d8ecd;
$border-bottom-color_1: #fff;
$border-bottom-color_2: #efefef;
$border-bottom-color_3: #e8f1f3;

.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.chat-app {
    .people-list {
        width: 280px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 20px 7px 20px 4px;
        z-index: 7;
    }

    .chat {
        margin-left: 280px;
        border-left: 1px solid #eaeaea;
    }
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;

    .chat-list {
        li {
            padding: 10px 15px;
            list-style: none;
            border-radius: 3px;

            &:hover {
                background: #efefef;
                cursor: pointer;
            }

            .name {
                font-size: 13px;
            }
        }

        li.active {
            background: #efefef;
        }

        img {
            width: 45px;
            border-radius: 50%;
        }
    }

    img {
        float: left;
        border-radius: 50%;
    }

    .about {
        float: left;
        padding-left: 8px;
    }

    .status {
        color: $color_1;
        font-size: 13px;
    }
}

.chat {
    .chat-header {
        padding: 15px 20px;
        border-bottom: 2px solid #f4f7f6;

        img {
            float: left;
            border-radius: 40px;
            width: 40px;
        }

        .chat-about {
            float: left;
            padding-left: 10px;

            h6 {
                font-size: 14px;
                font-weight: 600;
            }
        }
    }

    .chat-history {
        padding: 20px;
        border-bottom: 2px solid #fff;
        overflow: auto;
        height: 50vh;

        .message-time {
            font-size: 10px;
        }

        .left-time {
            bottom: -7px;
            width: 110px;
            left: 40px;
        }

        .right-time {
            bottom: -7px;
            width: 110px;
            right: 40px;
        }

        ul {
            padding: 0;

            li {
                list-style: none;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }

        .message-data {
            margin-bottom: 15px;

            .chat-avatar-own {
                position: absolute;
                right: 0;
                top: 0;
            }

            .chat-avatar-other {
                position: absolute;
                left: 0;
                top: 0;
            }
        }


        .message-user-name {
            color: $color_2;
            text-overflow: ellipsis;
            font-weight: 700;
            overflow: hidden;
            /* don't show excess chars */
            white-space: nowrap;
            /* force single line */
            width: 120px;
            font-size: 12px;
            display: inline-block
        }

        .chat-message {
            color: #fff;
            background: #007445;
            padding: 7px 10px;
            line-height: 26px;
            font-size: 14px;
            border-radius: 7px;
            display: inline-block;
            position: relative;
            margin-bottom: 15px;
            min-width: 50px;


            &:after {
                bottom: -20px;
                right: 8%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                transform: rotate(180deg);
                pointer-events: none;
                border-bottom-color: #007445;
                border-width: 10px;
                margin-left: -10px;
            }

            .btn-msg-delete {
                display: none;
                transition: ease-in-out 0.3s;
                top: 50%;
                transform: translate(0, -50%);
            }

            .btn-msg-rply {
                font-size: 20px;
                color: darkgreen;
                font-weight: 700;

                &:focus {
                    outline: none;
                }

                &:hover {
                    color: #007445;
                }
            }

            &:hover {
                .btn-msg-delete {
                    display: block;
                    outline: none;
                    opacity: 1;
                }
            }
        }


        .my-message {
            .message-user-name {
                padding-right: 40px;
            }
        }

        .other-user-message {
            .message-user-name {
                padding-left: 40px;
            }

            .chat-message {
                background: #c7dac8;
                color: #222324;

                &:after {
                    border-bottom-color: #c7dac8;
                    left: 20px;
                    right: unset;
                }
            }
        }
    }

    .chat-message {
        padding: 20px;
    }
}

.online {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle;
    color: $color_4;
}

.offline {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle;
    color: $color_5;
}

.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle;
    color: $color_6;
}

.float-right {
    float: right;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

.file-select-main {
    bottom: 50px;
}

.chat-file-image {
    img {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
    }

}

.image-preview-chat {
    img {
        width: 3.5rem;
        height: 3.5rem;
        object-fit: contain;
    }
}

@media only screen and (max-width: 767px) {
    .chat-app {
        .people-list {
            height: 465px;
            width: 100%;
            overflow-x: auto;
            background: #fff;
            left: -400px;
            display: none;
        }

        .people-list.open {
            left: 0;
        }

        .chat {
            margin: 0;

            .chat-header {
                border-radius: 0.55rem 0.55rem 0 0;
            }
        }

        .chat-history {
            height: 300px;
            overflow-x: auto;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app {
        .chat-list {
            height: 650px;
            overflow-x: auto;
        }

        .chat-history {
            height: 600px;
            overflow-x: auto;
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app {
        .chat-list {
            height: 480px;
            overflow-x: auto;
        }

        .chat-history {
            height: calc(100vh - 350px);
            overflow-x: auto;
        }
    }
}