$primary: #019D5F;
$success: #2eb82e;
$danger: #ff3300;

$secondry: #868686;

.logo {
    width: 100px;
}

.banner-row {
    background: url('../../public/assets/images/Banner_bg.jpg') no-repeat;
    background-size: cover;
    height: 30rem;
}

.find-book-heading {
    font-family: "bold-font";
}

.heading {
    span {
        font-family: "bold-font";
    }
}

.menu-bar {
    font-family: "medium-font";
    color: #000;
}

.page-scrolled {
    transition: 0.5s all;
    background: linear-gradient(90deg, rgba(251, 236, 232, 1) 0%, rgba(235, 231, 243, 1) 50%) !important;
    padding-top: 0;
}

.book-card {
    .author-name {
        opacity: 70%;
    }

    .book-name {
        font-family: "medium-font";
    }

    .book-price {
        color: $primary;
    }

    transition: 0.5s all;

    .product-icon {
        display: none;
        opacity: 0;
    }

    &:hover {
        border-radius: 5px;
        box-shadow: 0 0 5px #868686;

        .product-icon {
            display: block;
            opacity: 1;
            width: 25px;
            height: 25px;
            top: 5px;
            background-color: #fff !important;
            padding: 2px;

            &.right {
                right: 5px;
            }

            &.left {
                left: 5px;
            }
        }
    }
}

.cart-count {
    top: 0px;
    right: 0px;
    padding-top: 2px;
    width: 20px;
    height: 20px;
    font-size: 12px;

}

.inner-pages {
    margin-top: 100px;
}

.footer-section {
    background-color: #393939;
}

.close-btn {
    right: 10px;
}

.checkbox-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    font-size: .8123rem;
    color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .checkbox {
        position: relative;
        height: 22px;
        width: 22px;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid $secondry;
        transition: all 0.15s;

        &:after {
            content: "";
            position: absolute;
            top: 12px;
            left: 1.5px;
            width: 0px;
            height: 0px;
            border: solid $secondry;
            border-width: 2px 2px 0 0;
            opacity: 0;
            transform-origin: left top;
            transform: scaleX(-1) rotate(135deg);
            transition: width 0.08s ease 0.1s, height 0.1s ease, border-color 0.3s ease,
                opacity 0.1s ease 0.2s, border-width 0.1s ease;
        }


    }

    input:checked~.checkbox:after {
        opacity: 1;
        width: 7px;
        height: 15px;
        border-color: $primary;
        transition: width 0.1s ease, height 0.08s ease 0.1s, border-color 0.3s ease,
            border-width 0.1s ease;
    }

    input:focus-visible~.checkbox {
        border: 1px solid $primary;
    }

    &:hover input~.checkbox {
        border: 1px solid $primary;
    }
}

.clickable {
    cursor: pointer;
}

.product {
    &-heading {
        color: #000;
        font-size: 2rem;
        font-weight: 600;
    }

    &-short-detail {
        color: #6B6B6B;
    }
}

.profile-avtar {
    &:active {
        // outline: none;
        box-shadow: none;
    }

    img {
        width: 50px;
        height: 50px;
    }
}

.account-sidebar {
    &-item {
        &-heading {
            font-weight: 700;
            margin-bottom: 15px;

            i {
                margin-right: 10px;
                font-size: 25px;
            }
        }

        ul {
            list-style: none;
            padding-left: 29px;
            border-bottom: 1px solid #DFDFDF;

            li {
                margin: 7px 0;
            }
        }
    }
}

.icon-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.text-decoration-line-through {
    text-decoration: line-through !important;
}

.radio-ui {
    margin: 0.5rem;

    input[type="radio"] {
        position: absolute;
        opacity: 0;

        +.radio-label {
            cursor: pointer;

            &:before {
                content: '';
                background: #fff;
                border-radius: 100%;
                border: 1px solid $primary;
                display: inline-block;
                width: 1.4em;
                height: 1.4em;
                position: relative;
                top: -0.2em;
                margin-right: 1em;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                transition: all 250ms ease;
            }
        }

        &:checked {
            +.radio-label {
                &:before {
                    background-color: $primary;
                    box-shadow: inset 0 0 0 4px #fff;
                }
            }
        }

        &:focus {
            +.radio-label {
                &:before {
                    outline: none;
                    border-color: $primary;
                }
            }
        }

        &:disabled {
            +.radio-label {
                &:before {
                    box-shadow: inset 0 0 0 4px $primary;
                    border-color: darken($primary, 25%);
                    background: darken($primary, 25%);
                }
            }
        }

        +.radio-label {
            &:empty {
                &:before {
                    margin-right: 0;
                }
            }
        }
    }
}

.product-upload-frame {
    width: 250px;
    height: 380px;
    position: relative;
    border-radius: 5px;

    img {
        width: 100%;
        border-radius: 5px;
    }

    .placeholder {
        position: relative;
        width: 100%;
        height: 100%;
        border: 2px solid #ccc;
        border-radius: 5px;
        cursor: pointer;

        img {
            position: absolute;
            width: 100px;
            height: 100px;
            background-image: url('../../public/assets/images/upload-placeholder.png');
            background-size: 100%;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }


}

@media (max-width: 992px) {
    .navbar-collapse.collapse {
        background-color: #DFDFDF;

        a {
            text-align: left;
            padding-left: 25px;
            border-bottom: 1px solid rgba(70, 70, 70, 0.338);
        }
    }
}