@import url('./styles/bootstrap/bootstrap.css');

@import url('./styles/fonts.scss');
@import url('./styles/custom-css.scss');
@import url('./styles/accordian.scss');

body {
    font-family: 'regular-font';
    min-height: 100%;
}

html {
    position: relative;
    min-height: 100%;
}